.banner{
    height: 450px;
    width: 100%;
    max-width: 100%;
    top: 0;
    object-fit: cover;

}
.shadow{
    position: absolute;
    top:0;
    bottom: 159px;
    width: 100%;
    background-color:rgba(0,0,0,.5) ;
}

.position-header{
    position:  fixed;
    /* background:none; */
}

.contenedor{
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-gap:1rem;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(1 , auto);
    
    
}

.contenedor nav{
    background-color: #8c4545;
    grid-column-start:1 ;
    grid-column-end: -1;
}

.contenedor .contenido{
    grid-column: 2/-1;
    background-color: aqua;
}



.contenedor .sidebar{
    grid-column: 1/1;
    grid-row: 2;
    background-color: rgb(86, 86, 86);
    display: flex;
    flex-direction: column;
 

    
   
}



.portada{
    width: 100%;
    max-width: 70%;
}

.title{
    text-align: center;
    background-color: black;
}
.detalles{
    display: flex;
    flex-wrap: wrap;

}

.detalles ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem;
    list-style-type: none;
}

.character{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 173px;
    background-color: rgba(255, 255, 255);
    color: black;
    height: 130px;
    text-align: center;
    font-size: 0.7rem;
    border: 2px solid rgb(128, 128, 128);
    margin: 5px;
}

.character img{
    width: 100px;
    height: 100px;
    object-fit: cover;

}


    nav{
 
        width: 100%;
        padding:0 0.5%;
        height: 100px;
        padding: 1rem;
       /*  margin-bottom: 50%; *  HACER CON MEDIAS QUERYS */ 
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        margin: 0 1rem;
        justify-content: center;
        list-style-type: none;
        padding-left: 1rem;
        color:#ffffff;
    
    }
    ul a{
        display: inherit;
        color: #ffffff;
        text-decoration: none;
        padding: 1rem;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, .75);
    }

     .contenido{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        color: #8c4545;
    }
 
    strong{
        margin-right:  10px;
    }

    .detalles h3{
        margin:0.5rem auto ;
    }

@media  screen and (max-width: 675px)  {
        section{
            display:flex;
            flex-direction: column;
        }
        .shadow{
            bottom: 159px;
        }

}
