.banner{
 height: 480px;
 width: 100%;
 top: 0;  
 object-fit: cover;   
}
.shadow{
    position: absolute;
    top: 0;
    height: 480px;
    width: 100%;
    background-color:rgba(0,0,0,.5) ;
} 

/*Inicio Tab styles*/
.tabs-container{
    position: relative;
    width:100%;
    margin: 0 1em;
}

.tabs{
   
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    cursor: pointer;
}
.tabs__item{
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #fff;
    color:#000000;
    line-height: 2.5rem;
    padding:0 1em;
    border-radius:5px 5px 0 0 ;
    position: relative;
    top :1px
}
.active{
    background: #e7e5e5;/*e7e5e5*/
    z-index: 20;
}
.panels{
    border:1px solid #ccc;
    padding:1em;
    position:relative;
    background-color: #e7e5e5;
    color: #000000;  
}

.panel__items{
    position:absolute;
    left: -50000px;

}
.is-active{
    position: relative;
    left:0;
}

#personajesContent{
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    color: #000000;
    margin: 0.5rem 0 ;
}



/*Final tabs*/

.position-header{
    position:  fixed;
     background:none; 
}

.contenedor{
    display: flex;
    margin: 0 30px;
}

.sidebar{
    background-color: rgba(5, 1, 1, 0.90);
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    max-height: 540px;
    max-width: 200px;
    margin: 0.5rem auto;
}
.portada{
    width: 195px;
}


.detalles{
    display: flex;
    flex-wrap: wrap;
}

.detalles ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem;
    list-style-type: none;
}

/*Personajes*/
.character{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 173px;
    background-color: rgba(255, 255, 255);
    color: black;
    height: 188px;
    text-align: center;
    font-size: 0.9rem;
    border: 2px solid rgb(128, 128, 128);
    margin: 5px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.85);
}
.character:hover{
    cursor: pointer;
    background-color: #edeaea;
    
} 
.character figcaption{
    display: inherit;
    justify-content: center;
    align-items: center;
}

.character img{
    width: 150px;
    height: 150px;
    object-fit: cover;

}

  /*Episodios*/
  #episodiosContent{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin:1rem 2rem;
  }
  .container-episodes{
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
    padding: 0.2rem 0.8rem;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.85);

  }
   .container-episodes:hover{
    transform: scale(1.1);
    cursor: pointer;
  } 
  .container-episodes img{
    display: block;    
    margin:  auto;
    margin-top:10px;
    height:170px ;
    width: 233px;
    object-fit: cover;
}
.container-episodes p{
    font-size: 0.8rem;
}
    
    .title{
        font-size: 1.5rem;
    }

    strong{
        margin-right:  6px;
    }

    .detalles h3{
        margin:0.5rem 1rem ;
    }
    h3{
        width: 100%;
        margin: 0.5rem;
    }

    .sinopsis{
        display: block;
        margin:0 2rem;
    }

    .vacio{
            display:inherit;  
            margin: 1rem 3rem;
            background-color: red;
            color: #ffffff;
            font-weight: bold;
    }

    .paragraph{
        
        font-weight: 600;
        margin-bottom: 0;
       width: 100%; 
    }

    .list-categories{
        margin-top: 5px;
        list-style-type: "✔" ;
    }


@media  screen and (max-width: 530px)  {

        .contenedor{
            display: inherit;
            flex-wrap:wrap ;
        }
}
